# Solana RPC endpoint (devnet)
NEXT_PUBLIC_RPC_ENDPOINT=https://api.devnet.solana.com
NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com

# Program addresses (devnet — HEZg…ziP deployment)
NEXT_PUBLIC_PROGRAM_ID=HEZgFANPKb5hCCDZYzz1gdnbsD7C52gAPx5GNU1ifziP
NEXT_PUBLIC_PROTOCOL_STATE=HzpzGHZRTDFrQ7GbEAx1SrCzUq7ykWvF4baBH7z69tcg
NEXT_PUBLIC_ORACLE_ACCOUNT=F4kK3Rim3a2ikcqxAasBCr9xtnwVbbP9tDHqFUggUQdw
NEXT_PUBLIC_FEE_VAULT=F4wfXD5yNULQy7tdMwVtNag4XZSQBHSdSACxn7TrmCmr
NEXT_PUBLIC_INSURANCE_FUND=5gS3Q9us8yptZ8cbQoQexqAc1ToC2skchRJMefCRZvfn
NEXT_PUBLIC_USDC_MINT=3zsAG5W1sqNb9KdAGEceptZTuHGCWGSLCK8nUv4iPQn9
NEXT_PUBLIC_LIQUIDITY_POOL=FZ2vSRqk7bq2YWbSwAcAFDDudQxCs6etDNG448kx16DJ
